services:
  - type: web
    name: news-explorer-backend
    env: node
    plan: free
    buildCommand: 'npm install'
    startCommand: 'npm start'
    autoDeploy: true
    envVars:
      - key: NODE_VERSION
        value: 20
      - key: PORT
        value: 8080
      - key: MONGODB_URI
        sync: false
      - key: JWT_SECRET
        sync: false
      - key: CORS_ORIGIN
        sync: false
    healthCheckPath: /healthz
